@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ------------------Header */

/*---------------------- Navbar */
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

.logo {
    background: url("../images/ways-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}

/* ------------------hero image */
.callout-container {
    height: 100vh;
    /* vh stand for viewport height */

    background: url(../images/hero-image.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    /* This is used to move a box to the middle of the page  */

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* ------------------features */
.features-container {
    height: 100vh;
}

/* ---------------------about us */
.about-section-container {
    height: 100vh;
}

/* ---------------------meet the team */
.meet-the-team-container {
    height: 100vh;
}

/* ----------------------contact form */
.contact-form-container {
    height: 100vh;
}

/* -----------------------Footer */