@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: #FFF5F5;
}

/* ------------------Header */

/*---------------------- Navbar */

.navalert-container {
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;


    .logo {
        background: url("../images/ways-logo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50px;
        width: 50px;
    }

    /* ------------------callout */
    .callout-container {}



    /**----------------------- Jumbotron */





    /*** -------------------- block dividers */



    /* ------------------features */

    .white-background {
        background: white;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    .white-background-nav-logo {
        background: white;
        height: auto;
        width: auto;
        border-radius: 50%;
    }

    .ways-logo {
        background-image: url("../images/ways-logo.png");
        background-position: center;
        background-size: cover;
        height: 100px;
        width: 100px;
        margin: auto;
        border-top: 5px;
    }

    /* ---------------------about us */





    /* ---------------------meet the team */
    .meet-our-team-container {}

    /* ----------------------contact form */


    /* -----------------------Footer */