@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #335A30;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(4, 36, 11, 0.7);
}

p {
    font-size: 1.2rem;
}

h1 {
    font-family: "Cairo", sans-serif;
    font-weight: 900;
    color: #4D9348;
    font-size: 4.8rem;
}

h2 {
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    color: #4D9348;
    font-size: 3.6rem;
}

h3 {
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    color: #4D9348;
    font-size: 2.4rem;
}

/* ------------------Header */

/*---------------------- Navbar */

.navalert-container {
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.logo {
    background: url("../images/ways-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 5rem;
    width: 5rem;
}

/* ------------------callout */
.callout-container {
    height: 100vh;
    width: 100%;


    background: url(../images/hero-image.jpg) no-repeat bottom fixed;
    background-position: 25%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.callout-container h2 {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #4D9348;
    font-weight: 600;
    font-size: 1.2rem;
}

.navbar {
    background-color: #fff;
}

/**----------------------- Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    color: #FFF5F5;
}

/*** -------------------- block dividers */
.block-divider {
    width: 7.5rem;
    height: 0.5rem;
    border: 0;
    background-color: #ffc605;
}

/* ------------------features */

.ways-logo {
    background-image: url("../images/ways-logo.png");
    background-size: cover;
    height: 10rem;
    width: 10rem;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-container {
    width: 100%;
}

/* ---------------------about us */

.about-section {
    height: 100vh;
    width: 100%;

    background: url(../images/photo-1.jpg) no-repeat bottom fixed;
    background-position: 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    color: white;
}

.about-section-header {
    color: white;
}

.about-section p {
    font-size: 1.6rem;
}

.about-section section p i {
    font-size: 2.4rem;
}

/* ---------------------meet our team */


.meet-our-team-header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 5rem;
}

/* ----------------------contact form */
.contact-form-image {
    height: 100vh;

    background: url(../images/contact-form-image.jpeg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    /* This is used to move a box to the middle of the page  */

    position: relative;
}

.contact-section {
    color: #fff;
}

.contact-section-header {
    color: #fff;
}

/* -----------------------Footer */

.social-links li a i {
    font-size: 3.6rem;
    letter-spacing: 0.6rem;
    color: #4D9348;
}


.footer-header {
    font-family: "Cairo", sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    color: #4D9348;
}


.footer {
    height: 5vh;
    width: 100%;
    margin-top: 1rem;
}

/* MEDIA QUERIES */

/* about section */

@media (min-width: 768px) {
    .about-section .ways-logo {
        position: relative;
        bottom: 10%;
        height: 20rem;
        width: 20rem;

    }

    .left-side {
        position: relative;
        right: 60%;
        justify-content: center;
    }

    .right-side-1 {
        position: relative;
        left: 20%;
        bottom: 10%;
        justify-content: center;
    }

    .right-side-2 {
        position: relative;
        left: 20%;
        top: 10%;
        justify-content: center;
    }

    .left-side-1 {
        position: relative;
        right: 20%;
        bottom: 10%;
        justify-content: center;
    }

    .left-side-2 {
        position: relative;
        right: 20%;
        top: 10%;
        justify-content: center;
    }

    .about-section-header {
        position: relative;
        bottom: 90%;
    }

    .learning-opportunities {
        position: relative;
        left: 50%;
        bottom: 20%;
    }

    .experience {
        position: relative;
        right: 50%;
        bottom: 20%;
    }

    .creativety {
        position: relative;
        left: 50%;
        margin-top: 40%;
    }

    .alternative-learning {
        position: relative;
        right: 50%;
        margin-top: 40%;
    }

    .features-container {
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .meet-our-team .team-members {
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}